main {
  min-width: 100vw;
  min-height: 100vh;
  background-color: var(--Light-gray);
}

.replies-container {
  border-left: 1px solid var(--Light-grayish-blue);
  padding-left: 17px;
}

@media only screen and (min-width: 650px) {
  .replies-container {
    width: 94.3%;
    margin-left: auto;
    padding-left: 35px;
  }
}
